<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.33.0" />
    <!--package id="Cake.CoreCLR" version="0.30.0" /-->
    <!-- <package id="Cake.Recipe.PF" version="0.3.2" />
    <package id="PowerFarming.BuildTemplate.Base" version="0.2.0-first-step-templ0001" /> -->
</packages>
